@use "./vars" as *;
@use "sass:list";
@use "sass:math";

@mixin fontsize($size...) {

    $sizePC: nth($size, 1);
    $sizeTB: nth($size, 1);
    $sizeSP: nth($size, 1);

    @if (length($size) == 2) {
        $sizePC: nth($size, 1);
        $sizeTB: nth($size, 1);
        $sizeSP: nth($size, 2);
    }  @else if (length($size) == 3) {
        $sizePC: nth($size, 1);
        $sizeTB: nth($size, 2);
        $sizeSP: nth($size, 3);
     }

    font-size: #{$sizePC}px;

    @media (max-width: $wrap) {
        font-size: min(#{$sizeTB}px, calc(#{$sizeTB}px - #{math.div($wrap, 100)} + 1vw));
    }

    @media (max-width: $break) {
        font-size: min(#{$sizeSP}px, calc(#{$sizeSP}px - #{math.div($break, 100)} + 1.2vw));
    }
}
