@use "../vars" as *;
@use "../function" as *;
@use "sass:math";

//
// root
//

html, body {
    font-family: #{$font-sans-serif}, sans-serif;
    font-size: 10px;
    color: $color-base;

    @media (max-width: $break) {
        font-size: calc(10 / #{$break-point-value} * 100vw);
    }
}



//
// 見出し
//

h1 {
    font-size: 2.8rem; font-weight: 900;
    color: $color-title;
}

h2 {
    @include fontsize(80); 
    font-weight: 700;
    line-height: 0.8em;
    color: $color-title;
}

h3 {
    font-size: 1.872rem; font-weight: 700;
    color: $color-title;
}

h4 {
    font-size: 1.5rem; font-weight: 700;
    color: $color-title;
}

h5 {
    font-size: 1.328rem; font-weight: 500;
    color: $color-title;
}

h6 {
    font-size: 1.072rem; font-weight: 500;
    color: $color-title;
}



//
// そのほか
//

p {
    line-height: 1.8em;
}

a {
    color: $color-link;
}



//
// 明朝体
//

.serif {
    font-family: #{$font-serif}, serif;
}
