@use "../vars" as *;
@use "../function" as *;

#contactform {
    width: 100vw; height: 100vh;
    position: fixed;
    display: block;
    top: 0; left: 0; z-index: 10;
    .contactform-wrap {
        width: 100vw; height: 100vh;
        position: relative;
        top: 0; left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        .contactform-inner {
            width: 90%; max-width: 800px;
            margin: 0 auto;
            padding: 3%;
            position: relative;
            top: 50%; left: 0; right: 0; z-index: 110;
            transform: translateY(-50%);
            box-sizing: border-box;
            background-color: #061E22;
            h2 {
                @include fontsize(30);
                line-height: 2em;
            }
            form.sendmail {
                padding: 3%;
                display: flex;
                flex-wrap: wrap;
                @include fontsize(15);
                line-height: 1.5em;
                label {
                    width: 30%;
                    margin: 2% 0;
                    display: block;
                    line-height: 1.5em;
                    box-sizing: border-box;
                }
                input {
                    width: 69%;
                    margin: 2% 0;
                    line-height: 1.5em;
                    box-sizing: border-box;
                }
                textarea {
                    width: 69%;
                    margin: 2% 0;
                    line-height: 1.5em;
                    box-sizing: border-box;
                }
                .g-recaptcha {
                    width: 100%;
                    margin: 5% auto;
                    display: flex; justify-content: center;
                }
                .contactform-btn-area {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    button {
                        margin: 0 1%;
                        padding: .3em 1em;
                        display: inline-block;
                        text-decoration: none;
                        color: #2c535a;
                        border: solid 2px #2c535a;
                        border-radius: 3px;
                        background: #fff;
                        transition: .4s;
                        line-height: 1.5em;
                        @include fontsize(15);
                    }
                    button:disabled {
                        color: #333;
                        border: solid 2px #999;
                        background: #999;
                    }
                }
            }
        }
    }
}