$bg-main-color: #061E22;

$light-orange: #f1a957;
$orange: #f49d37;
$white: #f7f7f7;
$black: #333;
$gray: #c0c0c0;
$light-gray: #d1d5d5;
$deep-green: #061E22;
$light-green: #5cca5c;

$view-point: 768;